@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .animate-shake {
        animation: error .5s ease-in-out;
    }

    @keyframes error {
        0%   {transform: translateX(0);}  
        25%  {transform: translateX(-5px);}  
        50%  {transform: translateX(5px);}  
        100% {transform: translateX(0);}  
    }
}
